ATLANTIS_GH_USER=your-github-user
ATLANTIS_GH_TOKEN=your-github-token
ATLANTIS_GH_WEBHOOK_SECRET=supersecret-123
USE_LOCALSTACK=true
LOCALSTACK_ENDPOINT=http://localstack:4566
AWS_ACCESS_KEY_ID=test
AWS_SECRET_ACCESS_KEY=test
AWS_DEFAULT_REGION=sa-east-1
